
<div class="container bg-primary ps-3" data-bs-theme="dark">
<nav class="navbar navbar-expand-sm">
    <a class="navbar-brand" href="/">SISTEMAS WEB</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" data-bs-theme="dark">
            <li class="nav-item">
                <a class="nav-link text-white" href="/">Cadastrar</a>
            </li>
            <li class="nav-item">
                <!--Qualquer classe que contenha o atributo disabled suas funções estarão desabilitadas-->
                <a class="nav-link text-white" href="./consulta">Consultar</a>
            </li>
        </ul>
    </div>
</nav>
</div>

<!--A classe bg-white define como branco a cor do background-->
<div class="container bg-white m">         
<div>
    <!--Os prefixos :
        ps- refere-se ao padding à esquerda
        pt- refere-se ao padding top
    -->
    <h4 class="ps-3 pt-3"><Strong>Cadastrar - Agendamento de Potenciais Clientes</Strong></h4>
    <p class="ps-3 pb-3 m-0">Sistema utilzado para agendamento de serviços</p>
</div>
    <!--O prefixo :
        m- refere-se a margin aplicada em torno de todo elemento
    -->
</div>
<div>
    <div class="container ">
        <div class="col">
            
                <div class="col ">
                    <div class="row bg-primary text-light ps-3 fw-bold">
                        <div class="col ">Nome</div>
                        <div class="col ">Telefone</div>
                        <div class="col ">Origem</div>
                        <div class="col ">Data de contato</div>
                        <div class="col ">Observação</div>
                    </div>
                    {{#each post}}
                        {{#dataValues}}
                        <div class="row bg-white ps-3">
                            <div class="col">{{nome}}</div>
                            <div class="col">{{telefone}}</div>
                            <div class="col">{{origem}}</div>
                            <div class="col">{{data}}</div>
                            <div class="col">{{observacao}}</div>
                        </div>
                        {{/dataValues}}
                    {{/each}}   
                </div>
        </div>
        <div class="col-1">
            &nbsp;
        </div>
    </div>
</div>